h1 {
  color: aliceblue;
}
h2.intro {
  color: blue;
  font-size: larger;
}
p.intro {
  color: bisque;
  font-style: italic;
}
img.intro {
  border-radius: 50%;
}
p {
  color: aliceblue;
}
body {
  background-color: black;
  text-align: center;
}