h1 {
  color: orange;
  font-size: xx-large;
  background-color: olive;
}
.blog1 {
  background-color: olive;
  font-size: x-large;
}
.blog2 {
  background-color: gray;
  font-size: x-large;
}
.blog3 {
  background-color: peru;
  font-size: x-large;
}
.blog4 {
  background-color: indigo;
}
body {
  text-align: center;
}
